html
  head
    title RIP - REST In Peace
    link(href='css/stylesheet.css' rel='stylesheet')

  body
    .Container
      h1 You can REST in peace 💀
      
      .Container__graves
        h2.subtitle Graves Available
        ul
          each grave in graves
            li
              strong= grave.alias
              if grave.name.startsWith('rip-grave')
                |
                |
                small
                  a(href='https://www.npmjs.com/package/'+grave.name)= grave.name
              else if grave.name.startsWith('crud-grave')
                |
                |
                small
                  em CRUD
              else
                small
                  em Custom